*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

/*faqs*/
#faqs{
    background-color: white;
    height: 100%;
    padding: 0px 0;
    margin-bottom: 50px;
    margin-top: 50px;
}
#accordion .card{
    border-radius: 0;
    background: none;
    border-left-width: 0;
    border-right-width: 0;

}
.card-header {
    background: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0;
}
  .h2 {
    font-size: 1rem;
    

}
 .btn {
    color: #0c7f90;
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    
    
}
.btn-off {
    color: #0c7f90;
    width: 42%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    
    
}
.btn-strt{
    color: #0c7f90;
    width: 49%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    
}

 .card-header i {
    font-size:  1.3rem;
    position: absolute;
    top: 15px;
    right: 1rem;
}
 .card-body{
    color: #666;
}
.clearfix{
    background: none;
    border-radius: 0;
    padding-right: 9px;
    font-size: 0.1rem;

}
.row{
    margin-right: 0;
}

.gts{
 margin-left: 40px;

}
.marg{
    margin-top: 1rem;
}

.cont{
    width: 100%;
    height: 65vh;
    display: flex;
    font-size: 12px;
    align-items: center;
    
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}


.accordion-item{
    background-color: white;
    margin-bottom: 1rem;
    border-radius: .4rem;
    border: 1px solid;
    box-shadow: .5rem 2px .5rem darkslategrey;
}
.accordion-link{
    font-size: 1rem;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    font-family: inherit;
    margin-left: 7px;
    font: bold;

    
    
}
.accordion-link i{
    
    padding: .5rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
    
}
.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    top: 50%;
    transform: translate(-50%);
}
.answer p{
    font-size: 0.6rem;
    padding: 0.5rem;
}
.accordion-item:target .answer{
    max-height: 19rem;
}
.accordion-item:target .accordion-link .i{
    display: none;
}






@media (min-width: 768px ) { 
    .dropdown-menu{
        margin-left: -64px;
    }
    
 }
 .marg{
     margin-top: 3rem;
 }
.wdth{
    width: 100px;
    margin-left: 121px;
}
.gts{
    width: 114px;
    margin-bottom: 7px;

}


@media (min-width: 1300px) and (max-width: 1500px) {
    .marg{
        margin-top: 5rem;
    }
}
.cont a{
    text-decoration: none;
}
