*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*faqs*/
#faqs{
    background-color: white;
    height: 100%;
    padding: 0px 0;
    margin-bottom: 50px;
    margin-top: 50px;
}
#accordion .card{
    border-radius: 0;
    background: none;
    border-left-width: 0;
    border-right-width: 0;

}
.card-header {
    background: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0;
}
  .h2 {
    font-size: 1rem;
    

}
 .btn {
    color: #0c7f90;
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    
    


    
}
 .card-header i {
    font-size:  1.3rem;
    position: absolute;
    top: 15px;
    right: 1rem;
}
 .card-body{
    color: #666;
}
.clearfix{
    background: none;
    border-radius: 0;
    padding-right: 9px;
    font-size: 0.1rem;

}


